@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(49, 49, 55);
    margin: 0;
    padding: 0;
}

.heading{
    background-color: rgb(201, 206, 215);
    text-align: center;
    padding: 20px;
    color:rgb(49, 49, 55);
}

.container{
    color: white;
}

.bookForm-grid{
    display:grid;
    grid-template-columns: repeat(1,.3fr);
    grid-template-rows: (3,.5fr);
    text-align: center;
    font-size: larger;
    justify-content:center;
    align-items: center;
    gap: 30px;

}

#submitForm{
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#submitForm:hover{
    cursor: pointer;
}

input{
    border: 1px solid black;
}

h2{
    text-align: center;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /*grid-template-rows: repeat(2,1fr);*/
    gap: 20px;
    padding: 10px;
}

.cards > .newCard{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    color:rgb(49, 49, 55);
    text-align: center;
    border-radius: 10px;
    background-color:rgb(201, 206, 215);
}

.newCard > h3{
    text-decoration: underline;
}